<html lang="en">
  <head>

  </head>
  <body>
    <div class="container">
      <h1>Document Deleted Successfully</h1>
      <p>Details of the deleted document:</p>
      <ul>
        {{!-- prettier-ignore --}}
        <li><strong>Invoice ID:</strong> {{{getProperty deletedDoc "Invoice ID"}}}</li>

      </ul>

    </div>
  </body>
</html>